#wrap
  .middle
    nav.play-list
      .list-button
        i.fa.fa-bars
      ul
    article.player
      section.buttons
        span.prev
          i.fa.fa-chevron-circle-left
        span.album
          img#pic(src='', alt='album')
          .center
          .start
            i.fa.fa-play
        span.next
          i.fa.fa-chevron-circle-right
      section.title
        h1.name Album's Name
        h2.sub-title Album's Sub-title
      audio#music(src='')
    .progress
      .current
.cover